#!/bin/bash

export SOPS_AGE_KEY_FILE="secrets/${USER}-key.txt"

# Get keys from .env.tf section
keys=$(sops -d secrets.yaml | yq -r '.env.tf|keys|.[]')

# Loop over keys and export them with TF_VAR_ prefix
for key in $keys; do
    value=$(sops -d secrets.yaml | yq -r ".env.tf.$key")
    export TF_VAR_${key}=$value
done

# Get keys from .env section
keys=$(sops -d secrets.yaml | yq -r '.env.data|keys|.[]')

# Loop over keys and export them
for key in $keys; do
    value=$(sops -d secrets.yaml | yq -r ".env.data.$key")
    export ${key}=$value
done
